.display {
    padding: 25px 10px;
    height: 100px;
    justify-content: end;
    text-align: right;
    font-size: 60px;
    word-wrap: break-word;
    color: white;
    background-color: rgb(31, 31, 31);
}