.btn {
    width: 100px;
    height: 100px;
    font-size: 30px;
}

.long-btn {
    padding-left: 40px;
    width: 200px;
    text-align: left;
}

.orange-btn {
    color: white;
    background-color: orange;
}